@font-face {
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
    font-family: "Josefin Sans";
}
@font-face {
    src: url("/fonts/circular-std-medium-500.ttf");
    font-family: "Circular Std";
}
@font-face {
    src: url("/fonts/Proxima Nova Font.otf");
    font-family: "Proxima Nova";
}

h2{
    margin: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #fcfcfc;
    width: 1500px;
}
.container{
    padding: 0 130px;
}
#herosectionbg{
    position: absolute;
    width: 920px;
    height: 775px;
    right: 0;
    top: -99px;
    z-index: -1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(86, 89, 122, 1);
    text-shadow: 0 2px 7px;
}
.nav-logo span{
    color: #F087B1;;
}
.nav-list{
    display: flex;
    list-style-type: none;
}
.nav-item{
    margin-left: 70px;
}
.nav-item .bx{
    font-size: 30px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #AAAAAB;
}
.nav-link.nav-active{
    color: #56597A;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.hero{
    justify-content: space-between;
    align-items: center;
}
.hero-sub-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #F78CB6;
    margin-bottom: 30px;
}
.hero-title{
    width: 600px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #56597A;
    margin-bottom: 30px;
}
.hero-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #919299;
    width: 537px;
}
.hero-btn{
    width: 216px;
    height: 66px;
    background: #F78BB6;
    border-radius: 4px;
    color: #fff;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn i{
    font-size: 32px;
    margin-left: 10px;
}
.hero-btn-img{
    margin: auto auto;
}
#bloobs {
    position: absolute;
    top: 530px;
    z-index: -1;
    left: 0;
}
#bloobs2 {
    position: absolute;
    top: 1969.06px;
    right: 0;
    z-index: -1;
}
.services-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #F78CB6;
    text-align: center;
    margin-top: 170px;
}
.services-sub-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    color: #56597A;
    text-align: center;
    margin-bottom: 58px;
}
.services-cards{
    justify-content: space-between;
}
.services-card{
    background-color: #FFF1F9;
    border-radius: 8px;
    width: 270px;
    height: 307px;
    padding: 56px 23px 23px 23px;
    box-sizing: border-box;
}
.card-img{
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}
.card-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    color: #56597A;
    text-align: center;
}
.card-text{
    margin: 0 auto;
    width: 224px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #919299;
}
.services-card:hover{
    background-color: #F78CB6;
}

#artist-section{
 margin-top: 250px;
 justify-content: space-between;
}
.artist-img{
    width: 570px;
    height: 472px;
}
.body-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #F78CB6;
}
.body-sub-title{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #56597A;
}
.body-text{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #919299;
}
.artist-title{
    width: 182px;
    height: 40px;
    margin-bottom: 15px;
}
.artist-sub-title{
    width: 482px;
    height: 124px;
    margin-bottom: 24px;
}
.artist-text{
    width: 500px;
    height: 123px;
    margin-bottom: 40px;
}
#teamwork-section{
    margin-top: 230px;
    justify-content: space-between;
    align-items: center;
}
.team-title{
    width: 190px;
    height: 40px;
    margin-bottom: 15px;
}
.team-sub-title{
    width: 488px;
    height: 124px;
    margin-bottom: 24px;
}
.team-text{
    width: 500px;
    height: 123px;
    margin-bottom: 40px;
}
.team-img{
    width: 587px;
    height: 587px;
}
#bloobs3{
    position: absolute;
    top: 2732px;
    left: 0;
}
#about{
    margin-top: 200px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.about-title{
    width: 147px;
    height: 40px;
    margin-bottom: 12px;
}
.about-sub-title{
    width: 506px;
    height: 124px;
    margin-bottom: 25px;
}
.about-text{
    width: 400px;
    height: 140px;
    margin-bottom: 15px;
}
.about-name{
    width: 192px;
    height: 32px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #56597A;
    margin: 0;
}
.about-region{
    width: 144px;
    height: 32px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ABABAB;
}
#partners{
    width: 1240px;
    height: 157px;
}
.partners-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
#bloobs4{
    position: absolute;
    right: 0;
    top: 3817px;
}
